@import "bourbon";
@import "neat";
@import "../framework/_variables";
@import "../framework/_mixins";

@import "../framework/globals";
@import "../components/header/header";
@import "../components/footer/footer";
@import "../framework/buttons";

.article-content{
  @include sans-font(body);
  max-width: 95vw;
  margin: 0 auto;

  header h1{
    @include sans-font(bold);
  }

  header h5{
    margin-top: 0.85rem;
  }
}

@include media($mq-small){
  .article-content{
    margin-top: 3rem;
    max-width: 40em;

    header{
      padding-bottom: 20px;
      border-bottom: 2px solid $color-blue;
    }

    h2 + p{
      font-weight: 500;
    }
  }
}
