
* {
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
}

*+*{
  margin-top: 1rem;
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 19px;

html {
    background-color: $color-white;
    color: $color-black;
    font-family: $font-fast;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
    display: block;
    width: inherit;
    padding: 0 $space-default;
    height: auto;
    margin-top: 70px;
    position: static;
    &:focus {
      outline: none;
    }
}


.container{
    display: block;
    width: inherit;
    margin: 0 auto;
    position: relative;
}

.block{
   @include clearfix;
   max-width: 800px;
   margin: 0 auto;
}

a {
    color: $color-blue;
    cursor: pointer;
    text-decoration: underline;

    &:focus, &:hover {
        text-decoration: underline;
    }
}

.disabled-link{
	cursor: not-allowed;
	color: $grey-ghost;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

// a11y: Hide element visually but keep it available to screenreaders
.visuallyhidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

[href="#main"] {
  position: absolute;
  top: 0;
  right: 110%;

  &:focus {
    right: auto;
  }
}

@include media($mq-small) {
  main {
    margin-top: 95px;
  }
}

p code{
  background: rgba(255,255,153,0.1);
  padding: 3px;
}
